nav {
    /* background-color: #333; */
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline;
    font-size: 1.5rem;
    border-radius:10px ;
}
li:hover{
    background-color: aliceblue;
    color: dark;

}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}